.common-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

body {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: 108px repeat(10, 351px);
    font-family: 'Verdana', sans-serif;
    color: #000000;
    background-color: #DEE2E6;
    font-size: 2em;
}

.navbar {
  grid-column: 1 / -1;
  grid-row: 1;
  width: 100%;
  justify-content: space-between;
}

.navbar .links {
    padding-right: 5%; 
}

.navbar .links a {
    color: #000000;
    text-decoration: none;
    padding: .1em .2em;
    box-sizing: border-box;
    border: .4vmin solid transparent; 
}

.navbar .name {
    padding-left: 5%; 
}

.navbar .links a.active {
    color: #00397A;
    border-color: #00397A; 
}

.welcome-quote {
    grid-column: 1 / 3; 
    grid-row: 2 / 4; 
    font-size: 2.5em;
    padding-top: 10%;
    background-color: #ADB5BD;
    flex-direction: column;
}

.welcome {
    font-size: 1.5em;
}

.welcome-gif {
    grid-column: 3 / 5; 
    grid-row: 2 / 4; 
    background-color: #ADB5BD;
}

.project-quote {
    grid-column: 3 / 5; 
    grid-row: 4; 
    font-size: 2em;
    background-color: #6C757D;
}

.project-gif {
    grid-column: 1 / 3; 
    grid-row: 4 / 6; 
    background-color: #6C757D;
}

.project-button-background {
    grid-column: 3 / 5; 
    grid-row: 5; 
    background-color: #6C757D;
    display: grid; 
}

.button {
    display: flex;
    font-size: 2em;
    margin: auto;
    text-align: center;
    background-image: linear-gradient(144deg,#9A05F0, #0509F0,#057AF0);
    border: 0;
    border-radius: 30px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #DEE2E6;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
    line-height: 1em;
    padding: 3px;
}

.button:active,
.button:hover {
  outline: 0;
}

.button span {
  background-color: rgb(5, 6, 45);
  padding: 16px 24px;
  border-radius: 30px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.button:hover span {
  background: none;
}

@media (min-width: 768px) {
  .button {
    font-size: 2em;
    min-width: 196px;
  }
}

.resume-quote {
    grid-column: 1 / 3; 
    grid-row: 6; 
    font-size: 2em;
    background-color: #CED4DA;
}

.resume-gif {
    grid-column: 3 / 5; 
    grid-row: 6 / 8; 
    background-color: #CED4DA;
}

.resume-button-background {
    grid-column: 1 / 3; 
    grid-row: 7; 
    background-color: #CED4DA;
    display: grid; 
}

.about-quote {
  grid-column: 3 / 5; 
  grid-row: 8; 
  font-size: 2em;
  background-color: #ADB5BD;
}

.about-gif {
  grid-column: 1 / 3; 
  grid-row: 8 / 10; 
  background-color: #ADB5BD;
}

.about-button-background {
  grid-column: 3 / 5; 
  grid-row: 9; 
  background-color: #ADB5BD;
  display: grid; 
}

.contact-quote {
  grid-column: 1 / 3; 
  grid-row: 10; 
  font-size: 2em;
  background-color: #6C757D;
}

.contact-gif {
  grid-column: 3 / 5; 
  grid-row: 10 / 12; 
  background-color: #6C757D;
}

.contact-button-background {
  grid-column: 1 / 3; 
  grid-row: 11; 
  background-color: #6C757D;
  display: grid; 
}