body {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: 108px repeat(8, 351px);
    font-family: 'Verdana', sans-serif;
    color: #000000;
    background-color: #DEE2E6;
    font-size: 2em;
}

.navbar {
    grid-column: 1 / -1;
    grid-row: 1;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.2);
    width: 100%;
}

.navbar .links {
    padding-right: 5%; 
}

.navbar .links a {
    color: #000000;
    text-decoration: none;
    padding: .1em .2em;
    box-sizing: border-box;
    border: .4vmin solid transparent; 
}

.navbar .name {
    padding-left: 5%; 
}

.navbar .links a.active {
    color: #00397A;
    border-color: #00397A; 
}

.welcome-quote {
    display: flex;
    grid-column: 1 / 3; 
    grid-row: 2 / 4; 
    font-size: 2.5em;
    padding-top: 10%;
    text-align: center; 
    background-color: #ADB5BD;
    flex-direction: column;
}

.welcome {
    font-size: 1.5em;
}

.welcome-gif {
    display: flex;
    grid-column: 3 / 5; 
    grid-row: 2 / 4; 
    justify-content: center; 
    align-items: center;
    background-color: #ADB5BD;
}

.project-quote {
    display: flex;
    grid-column: 3 / 5; 
    grid-row: 4; 
    font-size: 2em;
    text-align: center; 
    justify-content: center; 
    align-items: center;
    background-color: #CED4DA;
}

.project-gif {
    display: flex;
    grid-column: 1 / 3; 
    grid-row: 4 / 6; 
    justify-content: center; 
    align-items: center;
    background-color: #CED4DA;
}

.project-button-background {
    grid-column: 3 / 5; 
    grid-row: 5; 
    background-color: #CED4DA;
    display: grid; 
}

.project-button {
    font-size: 2em;
    display: flex; 
    margin: auto;
    text-align: center;
    background-image: linear-gradient(144deg,#9A05F0, #0509F0,#057AF0);
    border: 0;
    border-radius: 30px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #DEE2E6;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
    line-height: 1em;
    padding: 3px;
}


.project-button:active,
.project-button:hover {
  outline: 0;
}

.project-button span {
  background-color: rgb(5, 6, 45);
  padding: 16px 24px;
  border-radius: 30px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.project-button:hover span {
  background: none;
}

@media (min-width: 768px) {
  .project-button {
    font-size: 2em;
    min-width: 196px;
  }
}