body {
    background-color: #FFFFFF;
    color: #000000;
}

.navbar {
    overflow: hidden;
    background-color: #000000;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    overflow: hidden;
    background-color: #000000;
}

.navbar a:hover {
    background-color: #FFFFFF;
    color: #757575;
}