body {
    background-color: darkpurple;
}

.navbar {
    overflow: hidden;
    background-color: yellow;
}

.navbar a {
    float: left;
    display: block;
    color: red;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}